* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 25.875rem;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #ae2727;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-lg-1: 1.5rem;
  --br-lg-2: 2rem;
  --br-sm-1: 0.885rem;
  --br-sm-2: 1rem;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  background-color: var(--color-grey-6);
  color: var(--color-white);
}

.title {
  display: flex;
  justify-content: space-between;
  width: 25.875rem;
  font-size: var(--br-sm-1);

  button {
    border: none;
    background-color: transparent;
    color: var(--color-secondary);
    cursor: pointer;
  }
  .title-text {
    padding: 1em;
    font-weight: bold;
  }
  .title-link {
    padding-top: 1em;
    text-align: center;
  }
}

.home-cont {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-areas:
    "hero hero . ."
    "blog1 blog1 . ."
    "blog2 blog2 . ."
    "blog3 blog3 . .";
  gap: 2em;
}

.hero {
  width: 25.875rem;
  height: 18.31rem;
  background-image: url("/img/hero.jpg");
  background-color: var(--color-secondary);
  background-size: cover;
  color: var(--color-white);
  padding-top: 50%;
  grid-area: hero;
  .date {
    margin-left: 1em;
    font-size: var(--br-sm-1);
  }
  .hero-title {
    margin-left: 0.5em;
    font-size: var(--br-lg-2);
  }
  .hero-article {
    margin-left: 1em;
    font-size: var(--br-sm-2);
  }
}

.blog1 {
  width: 25.875rem;
  height: 20.31rem;
  margin: 1em 0;
  grid-area: blog1;
  margin: 0 0.5em;
  .blogimg {
    width: 100%;
    height: 200px;
  }
  .date {
    margin-left: 1em;
    font-size: var(--br-sm-1);
  }
  .blog-title {
    margin-left: 0.5em;
    font-size: var(--br-lg-1);
  }
  .blog-article {
    margin-left: 0.5em;
    font-size: var(--br-sm-2);
  }
}

.blog2 {
  width: 25.875rem;
  height: 20.31rem;
  margin: 1em 0;
  grid-area: blog2;
  margin: 0 0.5em;
  .blogimg {
    width: 100%;
    height: 200px;
  }
  .date {
    margin-left: 1em;
    font-size: var(--br-sm-1);
  }
  .blog-title {
    margin-left: 0.5em;
    font-size: var(--br-lg-1);
  }
  .blog-article {
    margin-left: 0.5em;
    font-size: var(--br-sm-2);
  }
}

.blog3 {
  width: 25.875rem;
  height: 20.31rem;
  margin: 1em 0;
  grid-area: blog3;
  .blogimg {
    width: 100%;
    height: 200px;
    margin: 0 0.5em;
  }
  .date {
    margin-left: 1em;
    font-size: var(--br-sm-1);
  }
  .blog-title {
    margin-left: 0.5em;
    font-size: var(--br-lg-1);
  }
  .blog-article {
    margin-left: 0.5em;
    font-size: var(--br-sm-2);
  }
}

.footer {
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 25.875rem;
}
