* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #ae2727;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.home-cont {
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: auto;
}

.hero {
  width: 25.875rem;
  height: 18.31rem;
  background-image: url("/img/hero.jpg");
  background-color: var(--color-secondary);
  background-size: cover;
  color: var(--color-white);
}

.blog {
  width: 25.875rem;
  height: 20.31rem;
  margin: 1em 0;
  .blogimg {
    width: 100%;
    height: 200px;
    ;
  }
  .date {
    margin-left: 1em;
  }
  .blog-title {
    margin-left: .5em;
  }
  .blog-article {
    margin-left: .5em;
  }
}

.footer {
    text-align: center;
}